h1, p, .botones, #cont_alumnos{
    display: flex;
    justify-content: center;
    align-items: center ;
}

#cont_alumnos{
    margin-top: 20px;
}

.bi{
    font-size: 50px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}